* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  padding: 32px 48px;
  gap: 0px 24px;
  width: 1200px;
  height: 99px;
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
}

.nav_logo {
  font-weight: bold;
}

.nav_list {
  display: flex;
  gap: 20px;
}
